@charset "utf-8";
body{
  background-color:#000000;
  color:#ED765E;
}
hi{
  color:#AFAFF3;
}
@media(min-width:1024px){
  body{
    background-color:aquamarine;
    color:cadetblue;
  }
  h1{
    color:#E31417;
  }
	 @media(min-width:320px) and (width:768px){
    
  body{ 
      background-color:#1A627C;
      color:aliceblue;
    }
.encabezado{
      color:#D1882C;
    }
    
  .caja{
      width: 100%;
    }
    .imagen{
      width:80%;
      height:auto;
      border:
    }
 .imagen{
      width:50%;
      height:auto;
 }
 .caja{
      width:80%
      hedth: auto;
 }
 .caja{
      width:50%
 .imagen{
      width:25%;
      height:auto;
      border:5px solid #516EAD;
    }
    